<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="keywords" content="discapacidad, cursos online, e-learning, sordos">
    <title>@ViewData["Title"] | Oracon SRL</title>

    <link rel="shortcut icon" href="/project/icono.jpg">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald|PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" />
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <div class="barra">
        <div class="contenedor clearfix">
            <div class="logo">
                <a asp-controller="Home" asp-action="Index">
                    <img src="/project/logo.png" alt="logo">
                </a>
            </div>
            
            <div class="menu-movil">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <nav class="navegacion-principal clearfix">
                <a href="/Curso/Cursos">Cursos</a>
                <a href="/Curso/Docente">Docentes</a>
                <a href="/Curso/Docente">Categorias</a>
                @if (!User.Identity.IsAuthenticated)
                {
                    <a href="/user/Login"><i class="fa fa-user" aria-hidden="true"></i></a>
                }
                else
                {
                    <a href="/ajustes/index"><i class="fa fa-user" aria-hidden="true"></i></a>
                }
            </nav>
            @*<nav class="js-mega-menu navbar navbar-expand-md header-nav">
                <div id="navBar" class="collapse navbar-collapse">
                    <ul class="navbar-nav main-navbar-nav">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item hs-has-sub-menu custom-nav-item">
                                <a id="pagesMegaMenu" class="nav-link custom-nav-link main-link-toggle" href="/Curso/Cursos" aria-haspopup="true" aria-expanded="false" aria-labelledby="pagesSubMenu">Cursos</a>
                                <ul id="pagesSubMenu" class="hs-sub-menu main-sub-menu" aria-labelledby="pagesMegaMenu" style="min-width: 230px;">
                                    <li class="nav-item submenu-item">
                                        <a class="nav-link sub-menu-nav-link" href="/user/Login">Ingresar</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item hs-has-sub-menu custom-nav-item">
                                <a id="pagesMegaMenu" class="nav-link custom-nav-link main-link-toggle" href="/Curso/Cursos" aria-haspopup="true" aria-expanded="false" aria-labelledby="pagesSubMenu">Cursos</a>
                                <ul id="pagesSubMenu" class="hs-sub-menu main-sub-menu" aria-labelledby="pagesMegaMenu" style="min-width: 230px;">
                                    <li class="nav-item submenu-item">
                                        <a class="nav-link sub-menu-nav-link" href="/ajustes/index">Ajustes</a>
                                    </li>
                                    <li class="nav-item submenu-item">
                                        <a class="nav-link sub-menu-nav-link" href="/user/Logout">Salir</a>
                                    </li>
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </nav>*@
        </div>
    </div>
    <main role="main" class="pb-3" id="Correcto">
        @RenderBody()
    </main>

    <footer class="site-footer">
        <div class="contenedor clearfix">
            <div class="footer-informacion">
                <h3>Acerca de <span>ORACON</span></h3>
                <ul>
                    <li>Pasantía de prácticas</li>
                    <li>Colaborador del mesa</li>
                    <li>Nuestra historia y principios</li>
                    <li>Nuestro blog</li>
                </ul>
@*                <nav class="redes-sociales">
                    <a href="https://www.facebook.com/Gold-Conf-101088928504837"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/gold_conference"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.youtube.com/channel/UCVbYnjINFhIA_qLPC9zAa8Q"><i class="fa fa-youtube-play"></i></a>
                    <a href="https://www.instagram.com/GOLDCONF_/"><i class="fa fa-instagram"></i></a>
                </nav>*@
            </div>

            <div class="footer-contacto">
                <h3>Contacta con <span>NOSOTROS</span></h3>
                <ul>
                    <li><i class="fa fa-envelope-o" aria-hidden="true"></i> oraconsrl@gmail.com</li>
                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> Prol. Amalia Puga #200</li>
                    <li><i class="fa fa-phone" aria-hidden="true"></i> 925786403</li>
                    <li>Cajamarca - Perú</li>
                </ul>
            </div>
            
            <div class="footer-servicios">
                <h3>Nuestros <span>SERVICIOS</span></h3>
                <ul>
                    <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Asesoria contable</li>
                    <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Asesoria laboral</li>
                    <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Asesoria tributaria</li>
                </ul>
            </div>

        </div>
        <nav class="redes-sociales">
            <a href="https://www.facebook.com/Gold-Conf-101088928504837"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/gold_conference"><i class="fa fa-twitter"></i></a>
            <a href="https://www.youtube.com/channel/UCVbYnjINFhIA_qLPC9zAa8Q"><i class="fa fa-youtube-play"></i></a>
            <a href="https://www.instagram.com/GOLDCONF_/"><i class="fa fa-instagram"></i></a>
        </nav>
        <div class="copyright">
            <p>&copy; 2021 Estudio Oracon SRL | Todos los derechos reservados. Prol. Amalia Puga #200, Cajamarca, Perú.</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
